<div id="message-<%= message.id %>" class="message">

  <div class="community-message-card d-flex">
    <%# Avatar %>

      <%= cl_image_tag 'albert-dera-ILip77SbmOE-unsplash_yfzrit', class:"avatar-large me-3", width: 100, height: 100, crop: :fill, gravity: :face %>

    <%# Description %>
    <div>
      <div class=" message-description ps-4 pt-2 mb-1">

        <%# Review comments %>
        <small>
          <span>
            <h6><%= message.content[0..35] %></h6>

          </span>
        </small>
      </div>

      <%# Time sent ago %>
      <% timecreated = message.created_at %>
      <i class="d-flex justify-content-end"><%= time_ago_in_words(timecreated).gsub('about','') + ' ago' %></i>
    </div>
</div>
