<div data-controller="insert-in-list" data-insert-in-list-position-value="beforeend">

  <div data-controller="insert-in-list">
    <div data-insert-in-list-target="items">

      <% @review.comments.each do |comment| %>
        <%= render 'reviews/comment', comment: comment %>
      <% end %>

    </div>

    <%= render 'comments/form', review: @review, comment: @comment %>

  </div>
<div>
