<h3>User Reviews</h3>

<div class="review-card">
  <div class="user-profile d-flex">


    <div class="row username">

      <div class="col-2">
        <img src="https://source.unsplash.com/random" alt="avatar" class="avatar">
      </div>

      <div class="col-10 mt-2">
        <h4>John</h4>
      </div>
    </div>

    <div class="col-7">
      <div class="row">
          <div class="col-12">
            <i class="fa-solid fa-wheelchair-move"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <i class="fa-solid fa-mug-saucer"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <i class="fa-solid fa-clipboard-user"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <i class="fa-solid fa-toilet"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>

    </div>

  </div>

  <img src="https://source.unsplash.com/SpuUH2QBc3A" alt="" width="100%">

    <div class="row">
      <div class="col-12">
        <h5>This place is fascinating</h5>
        <span>
          <h6>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          </h6>
        </span>
      </div>
    </div>
</div>
