<div class="review-card">
  <div class="row user-details">
    <%# profile image %>
    <div class="col 3">
      <img src="https://source.unsplash.com/random" alt="profile image" class="avatar">
    </div>
    <%# Username %>
    <div class="col-3">

    </div>

    <%# review count %>
    <div class="col-3">

    </div>
  </div>

</div>
