<div class="user-review-card">
  <% @facility.reviews.each do |review| %>

    <div class="row user-details d-flex align-items-center">
      <%# profile image %>
      <div class="col-2 me-3">
        <img src="https://source.unsplash.com/random" alt="profile image" class="avatar-large">
      </div>
      <%# Username %>
      <div class="col-3">
        <h3>John</h3>
      </div>

      <%# review count %>
      <div class="col-5">
        <h6>( <%= pluralize @facility.reviews.size,"review" %> )</h6>
      </div>
    </div>

    <%# review icons %>
    <div class="row d-flex justify-content-center my-4">

      <div class="col-3 icon mx-3">
        <i class="fa-solid fa-wheelchair-move"></i>
      </div>

      <div class="col-3 icon mx-3">
        <i class="fa-solid fa-mug-saucer"></i>
      </div>

      <div class="col-3 icon mx-3">
        <i class="fa-solid fa-clipboard-user"></i>
      </div>

      <div class="col-3 icon mx-3">
        <i class="fa-solid fa-toilet"></i>
      </div>

    </div>

    <%# image %>
    <div class="row d-flex image-spacing mb-3">
      <div class="col-6">
        <%= cl_image_tag 'o7b693sl20e5206soaw3zwc0pt82', height: "100%", width: "150px" %>
      </div>

      <div class="col-6">
         <%= cl_image_tag 'davide-cantelli-jpkfc5_d-DI-unsplash_f4abel', height: "100%", width: "150px" %>
      </div>


    </div>

    <%# Review content %>
    <div class="row mb-3">
      <span><%= review.content %></span>
    </div>

    <%# share,like and comment %>

    <div class="row justify-content-center">
        <div class="col-3">
          <i class="fa-regular fa-thumbs-up"></i>
          <h6>Like</h6>
        </div>

        <div class="col-3">
          <i class="fa-solid fa-share-nodes"></i>
          <h6>Share</h6>
        </div>

        <div class="col-3">
          <i class="fa-regular fa-comment"></i>
          <h6>Comment</h6>
        </div>
    </div>

  <% end %>
</div>
