<% @facility.reviews.each do |review| %>
  <div class="review-card">

    <div class="row user-details d-flex align-items-center">
      <%# profile image %>
      <div class="col-2 me-3">
        <img src="https://source.unsplash.com/random" alt="profile image" class="avatar">
      </div>
      <%# Username %>
      <div class="col-3">
        <h3>John</h3>
      </div>

      <%# review count %>
      <div class="col-5">
        <h6>( <%= pluralize @facility.reviews.size,"review" %> )</h6>
      </div>
    </div>

    <%# review icons %>
    <div class="row d-flex mt-2">

      <div class="col-3">
        <i class="fa-solid fa-wheelchair-move"></i>
      </div>

      <div class="col-3">
        <i class="fa-solid fa-mug-saucer"></i>
      </div>

      <div class="col-3">
        <i class="fa-solid fa-clipboard-user"></i>
      </div>

      <div class="col-3">
        <i class="fa-solid fa-toilet"></i>
      </div>

    </div>

    <%# image %>
    <div class="row">
      <div class="col-6">
        <img src="https://source.unsplash.com/Yr4n8O_3UPc" alt="meat" width="100%" height="75px">
      </div>

      <div class="col-6">
        <img src="https://source.unsplash.com/sc5sTPMrVfk" alt="burger" width="100%" height="75px">
      </div>

    </div>

    <%# Review content %>
    <div class="row">
      <span><%= review.content %></span>
    </div>

    <%# share,like and comment %>

    <div class="row">
             <div class="col-4">
          <i class="fa-regular fa-thumbs-up"> Like </i>
        </div>

        <div class="col-4">
          <i class="fa-solid fa-share-nodes">Share</i>
        </div>

        <div class="col-4">
          <i class="fa-regular fa-comment">Comment </i>
        </div>
    </div>

  </div>
<% end %>
