.cards {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap:16px;
}

.verified-card {
  background-color: silver;
  color: black;
  text-decoration: none;
  padding: 16px;
  border-radius: 16px;
}

.details {
  display: inline-block;
  margin-bottom: 0.2rem;
}

.badge-verified {
  align-self: flex-end;
  color: white;
  background-color: plum;
  border-radius: 6px;
}
