.navbar-lewagon {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #4a4e69;
  overflow: auto;
  height: auto;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-test {
  height: 48px;
  width: 100%;
  position:fixed;
  bottom: 0px;
  left:0;
  background-color: #4a4e69;
  color: #F2E9E4;
  font-size: 24px;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: #F2E9E4;
  min-width: 160px;
  bottom: 50px;
  z-index: 1;

}

.dropup-content a {
  color: black;
  padding: 12px;
  text-decoration: none;
  display: block;
  position: relative;
  right: 60px;
  background-color: #F2E9E4;
}

.dropup-content a:hover {background-color: #ccc}

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  background-color: #2980B9;
}
