.navbar-lewagon {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(39, 39, 39);
  overflow: auto;
  height: auto;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
