h2 {
  font-family:'Quicksand', sans-serif;
}

#filter-wrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top:0;
  left:0;
  background-color: lightgrey;
  opacity: .9;
  z-index: 9999;
  transform: translateX(100%);
  transition: transform 300ms ease-in;
  &.open {
    transform: translateX(0);
  }

}
