.text-input {
  // display: flex;
  height: 64px;
  width: 100%;
  position:fixed;
  bottom: 48px;
  left:0;
}

.input-height {
  height: 64px;
}

// community chat box
.community-chat-box {
  background-color: white;
  height: 64px;
}

.comment-box {
  background-color: aliceblue;
  height: 60px;
  margin-bottom: 1.5rem;
}
