.text-input {
  // display: flex;
  height: 64px;
  width: 100%;
  position:fixed;
  bottom: 48px;
  left:0;
}

.input-height {
  height: 64px;
}

// community chat box
.community-chat-box {
  background-color: #F2E9E4;
  height: 64px;
}

.comment-box {
  background-color: #F2E9E4;
  height: 62px;
}
