// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/background";


// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap'); // font-family: 'Space Mono', monospace;

// Your CSS partials
@import "components/index";
@import "pages/index";

body{
  padding-bottom: 48px;
  background-color: rgb(1, 21, 21);
}

body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

h1{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

