<h1><%= @category.name %></h1>
<br>
<div class="cards">
  <% @facilities.each do |facility| %>
    <%= link_to facility_path(facility) do %>
      <%= render "facilities/facility_card", facility: facility %>
    <% end %>
  <% end %>
</div>
<br>
<p><%= link_to "Back", root_path %></p>
