<h1><%= @category.name %></h1>
<br>
<div>
  <% @facilities.each do |facility| %>
    <li><%= link_to facility.name, facility_path(facility.id) %></li>
  <% end %>
</div>
<br>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top navbar-light">
  <div class="container-fluid">
    <%= link_to "", class: "navbar-brand" do %>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search by Name" aria-label="Search">
            <button class="btn btn-outline-light">Search</button>
          </form>
    <% end %>

<p><%= link_to "Back", root_path %></p>
