<div class="row">
  <div class="rating col-12 mx-auto">
    <h2>Wheelchair Friendly</h2>
    <i class="fa-solid fa-wheelchair-move fa-2xl"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="1"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="2"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="3"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="4"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="5"></i>
  </div>
</div>

<div class="row">
  <div class="rating col-12 mx-auto">
    <h2>Staff Friendly</h2>
    <i class="fa-solid fa-clipboard-user fa-2xl"></i>
      <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="1"></i>
      <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="2"></i>
      <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="3"></i>
      <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="4"></i>
      <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="5"></i>
  </div>
</div>

<div class="row">
  <div class="rating col-12 mx-auto">
    <h2>Ambience</h2>
    <i class="fa-solid fa-mug-saucer fa-2xl"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="1"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="2"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="3"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="4"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="5"></i>
  </div>
</div>

<div class="row">
  <div class="rating col-12 mx-auto">
    <h2>Bathroom</h2>
    <i class="fa-solid fa-toilet fa-2xl"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="1"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="2"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="3"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="4"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="5"></i>
  </div>
</div>
